$navbar-default-bg: white;
#logo{
  color: white;
  font-size: 20px;
  float: right;
  letter-spacing: -1px;
  font-weight: bold;
}

.center{
  text-align: center;
}
.user-mata-data{
  margin:5px;
  border-top: 1px solid #d4d6d8;
}

.jumbotron{
  background-image: asset-url('homepage');
  background-size:  cover;
  height: 1000px;
}

.description{
}
.card-spacing{
  margin:20px;
  padding:10px;
}
.buttons{
  border-top: 1px solid grey;
  padding: 5px;
  margin-top:  5px;
}


.jumbotron h1{
  margin-top: 100px;
  font-weight: bold;
  font-size: 50px;
  font-style: normal;
  color: #011A30;
  letter-spacing: -1px;
}

.footer{
  color: blue;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid black;
}

.footer small{
  float: left;
}
.footer nav{
  float: right;
}
.footer hover{
  color: black;
}

#link1{
  color: white;
}
#navbarDropdown{
  color: white;
}

#link3{
  color: white;
}
.align-center{
  align-items:  center;
  margin-bottom: 20px;
  margin-top:20px;

}



@import "bootstrap";
